body {
    background-color: rgb(204, 2, 2);
    color: white;
}
h1 {
    text-align: center;
    font-size: 3em;
}
div {
    border: 4px  solid black;
}
.img {
    margin-left: 45% !important;
}
h2 {
    text-align: center;
    padding-top: 5%;
    font-size: 2em;
    font-weight: bolder;
}
.Description {
    text-align: center;
    text-decoration-thickness: bold;
    font-size: 1em;
}
.ing {
    text-align: center;
    font-size: 2em;
}
.ul1 {
    font-size: large;
}
h3{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}
ol {
    font-size: large;
}
.ul2 {
    font-size: large;
    font-stretch: expanded;
}
.con {
    background-color: wheat;
    color: black;
    font-weight: bold;
}
